/* 
    General Styles
*/
.btn-primary {
    background-color: orange;
    color: black;
}

h2 {
    justify-content: center;
    display: flex;
    margin-top: 20px;

}

.card-title { 
    color: #ffc107
}

.card {
    margin-left: 20px;
    margin-top: 20px;
}

.img {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.model, .card-title {
    text-overflow:ellipsis;
    white-space:nowrap;
}


.bottom-half {
   column-rule-style: solid;
   border-top: 3px solid orange;
   justify-content: center;
   color: white;
}

.col {
    border-left: 3px solid orange;
    padding-left: 100px;
}

.top-half {
    width: 400px;
    height: 450px;
    color: white;
}

section {
    margin-left: 45px;
    color:white;
    
}



div, .navbar {
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}